---
layout: default
title: Blog
---


{% for post in site.posts limit:site.front_limit %}

<article class="post">
    <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
        </a>
    </h2>
    <h3>{{ post.date | date: "%-d %B %Y" }}</h3>
    <div class="post-content">
        {{ post.content | split:'<!--more-->' | first }}
    </div>
    {% if post.content contains '<!--more-->' %}
        <h3 class="post-read-more"><a href="{{ site.baseurl }}{{ post.url }}">read more</a></h3>
    {% endif %}
</article>

{% endfor %}

<div class="post">
    <h3><a href="{{ site.baseurl }}/archive/">looking for something older?</a></h3>
</div>
