$base-font-family:			'Source Serif Pro', serif;
$base-text-color:			#444444;
$base-background-color:		#fffffa;
$base-line-height:			1.6;

$header-line-height:		1.2;
$header-background-color:	#eeeef0;

$content-max-width:			768px;
$content-width:				80%;

$post-border-color:			#aaaaaa;
$post-link-color:			#4444ff;

$code-font-family:			'Source Code Pro', monospace;
$code-background-color:		#eeeef0;
